include ../../node_modules/bemto.pug/bemto

+b.subscribe
  +e.BUTTON.button(
    type="button",
    @click="toggleFormVisibility"
  )
    svg(
      v-if="isMobile",
      viewBox="0 0 47 506",
      xmlns="http://www.w3.org/2000/svg"
    )
      polyline(
        points="43,47 0,4 0,0 4,0 47,43 47,47",
        :fill="`url(#sb)`"
      )

      path(
        v-show="!form.responseMessage && !formVisibility",
        d="M47 47h-4M13.4 98C6.3 98 0 92.1 0 84.6V64.5C0 57.1 5.8 51.2 13.4 51v6.7c-3.7 0-6.7 3-6.7 6.7v20.1a6.7 6.7 0 0013.4 0V64.4C20.1 57.2 26 51 33.6 51 40.7 51 47 56.9 47 64.4v20.1c0 7.2-6 13.2-13.4 13.4v-6.7c3.7 0 6.7-3 6.7-6.7V64.4a6.7 6.7 0 00-13.4 0v20.1c0 7.1-6 13.5-13.5 13.5zm0 44.3H47v6.7H13.4C6.3 149 0 143.1 0 135.6v-20.1c0-7.2 5.8-13.4 13.4-13.4H47v6.7H13.4c-3.7 0-6.7 3-6.7 6.7v20.1c0 3.7 3 6.7 6.7 6.7zM0 186.6V153h47v33.6c0 7.1-6 13.4-13.4 13.4-4 0-7.4-1.5-10.1-4.6-2.7 3-6 4.6-10.1 4.6-7.2 0-13.2-5.9-13.4-13.4zm20-.7V159H6.6v26.9a6.7 6.7 0 0013.4 0zM40 159H26.6v26.9a6.7 6.7 0 0013.4 0V159zm-26.6 92C6.3 251 0 245.1 0 237.6v-20.1c0-7.3 5.8-13.2 13.4-13.4v6.7c-3.7 0-6.7 3-6.7 6.7v20.1a6.7 6.7 0 0013.4 0v-20.1c0-7.2 5.8-13.4 13.4-13.4 7.1 0 13.4 5.9 13.4 13.4v20.1c0 7.2-6 13.2-13.4 13.4v-6.7c3.7 0 6.7-3 6.7-6.7v-20.1a6.7 6.7 0 00-13.4 0v20.1c.1 7-5.9 13.4-13.4 13.4zM47 268.4v20.1c0 7.2-6 13.2-13.4 13.4v-6.7c3.7 0 6.7-3 6.7-6.7v-20.1c0-3.7-3-6.7-6.7-6.7H13.4c-3.7 0-6.7 3-6.7 6.7v20.1c0 3.7 3 6.7 6.7 6.7v6.7C6.3 302 0 296.1 0 288.6v-20.1c0-7.2 5.8-13.4 13.4-13.4h20.1c7.3-.1 13.3 5.8 13.5 13.3zm-20.4 78.2h6.7c3.7 0 6.7-3 6.7-6.7V313H19.9v26.9c0 3.6 3 6.7 6.7 6.7zM0 353v-4.8l13.4-13.4v-22.1H0V306h47v33.6c0 7-6 13.4-13.4 13.4h-6.7c-5.7 0-10.9-3.8-12.8-9.3L4.8 353H0zm0 4h47v6.7H0V357zm0 40.3h47v6.7H0v-6.7zm0-10.1h47v6.7H0v-6.7zm0-10.1h47v6.7H0v-6.7zm0-10h47v6.7H0v-6.7zm0 74.5V408h47v33.6c0 7-6 13.4-13.4 13.4-4 0-7.4-1.5-10.1-4.6-2.7 3-6 4.6-10.1 4.6-7.2 0-13.2-5.9-13.4-13.4zm20 .3V415H6.6v26.9c0 3.7 3 6.7 6.7 6.7s6.7-3.1 6.7-6.7zM40 415H26.6v26.9a6.7 6.7 0 0013.4 0V415zm.3 50.7H26.9v33.6h-6.7v-33.6H6.7V506H0v-47h47v47h-6.7v-40.3z",
        :fill="`url(#sb)`"
      )

      path(
        v-show="form.responseMessage === 'Success!'",
        fill-rule="evenodd",
        clip-rule="evenodd",
        d="M47 200.085H0v-6.714L36.123 159.8H0v-6.715h47v6.715l-35.586 33.571H47v6.714zM13.429 142.343H33.57c3.693 0 6.715-3.022 6.715-6.714v-20.143c0-3.693-3.022-6.715-6.715-6.715H13.43c-3.693 0-6.715 3.022-6.715 6.715v20.143c0 3.692 3.022 6.714 6.715 6.714zm20.142 6.714H13.43C6.043 149.057 0 143.014 0 135.629v-20.143a13.382 13.382 0 0113.429-13.429H33.57c7.386 0 13.429 6.043 13.429 13.429v20.143c0 7.117-6.11 13.428-13.429 13.428zM40.286 210.829H26.857V244.4h-6.714v-33.571H6.714v40.285H0v-47h47v47h-6.714v-40.285zM13.429 91.314H33.57c3.693 0 6.715-3.021 6.715-6.714V57.743H6.714V84.6c0 3.693 3.022 6.714 6.715 6.714zm20.142 6.714H13.43C6.31 98.028 0 92.12 0 84.6V51.028h47V84.6c0 7.184-5.976 13.227-13.429 13.428z",
        :fill="`url(#sb)`"
      )

      path(
        v-show="form.responseMessage === 'Error!'",
        fill-rule="evenodd",
        clip-rule="evenodd",
        d="M40.286 58.714H26.857v33.572h-6.714V58.714H6.714V99H0V52h47v47h-6.714V58.714zM26.857 142.286h6.714c3.693 0 6.715-3.022 6.715-6.714v-26.858H20.143v26.858c0 3.692 3.021 6.714 6.714 6.714zM0 149v-4.767l13.428-13.429v-22.09H0V102h47v33.571C47 142.621 41.024 149 33.571 149h-6.714c-5.707 0-10.877-3.76-12.757-9.333L4.767 149H0zm26.857 44.286h6.714c3.693 0 6.715-3.022 6.715-6.714v-26.858H20.143v26.858c0 3.692 3.021 6.714 6.714 6.714zM0 200v-4.767l13.429-13.429v-22.09H0V153h47v33.571C47 193.621 41.024 200 33.571 200h-6.714c-5.707 0-10.877-3.76-12.757-9.333L4.767 200H0zm13.428 44.286h20.143c3.693 0 6.715-3.022 6.715-6.714v-20.143c0-3.693-3.022-6.715-6.715-6.715H13.43c-3.693 0-6.715 3.022-6.715 6.715v20.143c0 3.692 3.022 6.714 6.714 6.714zM33.572 251H13.43c-7.386 0-13.43-6.043-13.43-13.429v-20.142A13.382 13.382 0 0113.43 204H33.57C40.957 204 47 210.043 47 217.429v20.142C47 244.689 40.89 251 33.571 251zm-6.714 44.286h6.715c3.692 0 6.714-3.022 6.714-6.714v-26.858H20.143v26.858c0 3.692 3.021 6.714 6.714 6.714zM0 302v-4.767l13.429-13.429v-22.09H0V255h47v33.571C47 295.621 41.024 302 33.572 302h-6.715c-5.707 0-10.877-3.76-12.757-9.333L4.767 302H0z",
        :fill="`url(#sb)`"
      )

      svgGradient(
        id="sb" key="sb-1"
      )

    svg(
      v-else,
      viewBox="0 0 754 70",
      xmlns="http://www.w3.org/2000/svg"
    )
      polygon(
        points="70,0 70,6 6,70 0,70 0,64 64,0",
        :fill="`url(#sb)`"
      )

      path(
        v-show="!form.responseMessage && !formVisibility",
        fill-rule="evenodd",
        clip-rule="evenodd",
        d="M146 50c0 10.6-8.8 20-20 20H96c-10.9 0-19.7-8.7-20-20h10c0 5.5 4.5 10 10 10h30c5.5 0 10-4.5 10-10s-4.5-10-10-10H96c-10.7 0-20-8.7-20-20C76 9.4 84.8 0 96 0h30c10.7 0 19.7 8.9 20 20h-10c0-5.5-4.5-10-10-10H96c-5.5 0-10 4.5-10 10s4.5 10 10 10h30c10.5 0 20 8.9 20 20zm66 0V0h10v50c0 10.6-8.8 20-20 20h-30c-10.7 0-20-8.7-20-20V0h10v50c0 5.5 4.5 10 10 10h30c5.5 0 10-4.5 10-10zm66 20h-50V0h50c10.5 0 20 8.9 20 20 0 6-2.3 11-6.8 15 4.5 4 6.8 9 6.8 15 0 10.8-8.8 19.7-20 20zm0-30h-40v20h40c5.5 0 10-4.5 10-10s-4.5-10-10-10zm-40-30v20h40c5.5 0 10-4.5 10-10s-4.5-10-10-10h-40zm136 40c0 10.6-8.8 20-20 20h-30c-10.9 0-19.7-8.7-20-20h10c0 5.5 4.5 10 10 10h30c5.5 0 10-4.5 10-10s-4.5-10-10-10h-30c-10.7 0-20-8.7-20-20 0-10.6 8.8-20 20-20h30c10.7 0 19.7 8.9 20 20h-10c0-5.5-4.5-10-10-10h-30c-5.5 0-10 4.5-10 10s4.5 10 10 10h30c10.5 0 20 8.9 20 20zm26-50h30c10.7 0 19.7 8.9 20 20h-10c0-5.5-4.5-10-10-10h-30c-5.5 0-10 4.5-10 10v30c0 5.5 4.5 10 10 10h30c5.5 0 10-4.5 10-10h10c0 10.6-8.8 20-20 20h-30c-10.7 0-20-8.7-20-20V20c0-10.8 8.8-19.7 20-20zm116 30V20c0-5.5-4.5-10-10-10h-40v30h40c5.5 0 10-4.5 10-10zm10 40h-7.1l-20-20H466v20h-10V0h50c10.5 0 20 8.9 20 20v10c0 8.5-5.6 16.2-13.9 19L526 62.9V70zm6 0V0h10v70h-10zm60 0V0h10v70h-10zm-15 0V0h10v70h-10zm-15 0V0h10v70h-10zm-15 0V0h10v70h-10zm111 0h-50V0h50c10.5 0 20 8.9 20 20 0 6-2.3 11-6.8 15 4.5 4 6.8 9 6.8 15 0 10.8-8.8 19.7-20 20zm0-30h-40v20h40c5.5 0 10-4.5 10-10s-4.5-10-10-10zm-40-30v20h40c5.5 0 10-4.5 10-10s-4.5-10-10-10h-40zm76 0v20h50v10h-50v20h60v10h-70V0h70v10h-60z",
        :fill="`url(#sb)`"
      )

      path(
        v-show="form.responseMessage === 'Success!'",
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M298 0v70h-10l-50-53.8V70h-10V0h10l50 53V0h10zM212 50V20c0-5.5-4.5-10-10-10h-30c-5.5 0-10 4.5-10 10v30c0 5.5 4.5 10 10 10h30c5.5 0 10-4.5 10-10zm10-30v30c0 11-9 20-20 20h-30c-11.1 0-20-8.9-20-20V20c0-11 9-20 20-20h30c10.6 0 20 9.1 20 20zM314 10v20h50v10h-50v20h60v10h-70V0h70v10h-60zM136 50V20c0-5.5-4.5-10-10-10H86v50h40c5.5 0 10-4.5 10-10zm10-30v30c0 10.6-8.8 20-20 20H76V0h50c10.7 0 19.7 8.9 20 20z",
        :fill="`url(#sb)`"
      )

      path(
        v-show="form.responseMessage === 'Error!'",
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M365 50V20C365 14.5 360.5 10 355 10H325C319.5 10 315 14.5 315 20V50C315 55.5 319.5 60 325 60H355C360.5 60 365 55.5 365 50ZM375 20V50C375 61 366 70 355 70H325C313.9 70 305 61.1 305 50V20C305 9 314 0 325 0H355C365.6 0 375 9.1 375 20ZM87 10V30H137V40H87V60H147V70H77V0H147V10H87ZM213 30V20C213 14.5 208.5 10 203 10H163V40H203C208.5 40 213 35.5 213 30ZM223 70H215.9L195.9 50H163V70H153V0H203C213.5 0 223 8.9 223 20V30C223 38.5 217.4 46.2 209.1 49L223 62.9V70ZM289 30V20C289 14.5 284.5 10 279 10H239V40H279C284.5 40 289 35.5 289 30ZM299 70H291.9L271.9 50H239V70H229V0H279C289.5 0 299 8.9 299 20V30C299 38.5 293.4 46.2 285.1 49L299 62.9V70ZM441 30V20C441 14.5 436.5 10 431 10H391V40H431C436.5 40 441 35.5 441 30ZM451 70H443.9L423.9 50H391V70H381V0H431C441.5 0 451 8.9 451 20V30C451 38.5 445.4 46.2 437.1 49L451 62.9V70ZM0 70V70.0857L0.914286 71H1V70.9143L0.0857143 70H0Z",
        :fill="`url(#sb)`"
      )

      svgGradient(
        id="sb" key="sb-2"
      )

  transition(
    @enter="fadeIn"
    @leave="fadeOut"
  )
    +e.FORM.form(
      v-if="formVisibility",
      :class="{'subscribe__form_hidden': !form.visibility}",
      action="/",
      @submit.prevent="validateBeforeSubmit",
        autocomplete="off"
    )
      +e.LABEL.input-item »Username -----
        +e.INPUT.input(
          v-model="form.fields.name.value",
          name="name",
          ref="subscribeInput"
        )

      +e.LABEL.input-item »E-mail -----------
        +e.INPUT.input(
          v-model="form.fields.email.value",
          v-validate="'required|email'",
          name="email",
          type="email",
          ref="subscribeInput"
        )

      +e.BUTTON.submit »Confirm
